<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Team</title>
    </head>
    <body>
        <h1>Team Home Page</h1>

        <h1>Team Home Page</h1>
        
        <h1>Team Home Page</h1>
        <!--<h2>Welcome <span th:text="${username}"></span> !</h2>-->

        <div><a th:href="@{/team/list}">Team List</a></div>
        <div><a th:href="@{/account/add}">Register</a></div>
        <div><a th:href="@{/sendSMS}" >send-SMS-service</a></div>
    </body>
</html>